body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1,p {
    color: #333;
    text-align: center;
}
h2 {
    margin-left: 250px;
}

form, table {
    width: 80%;
    max-width: 800px;
    margin: 20px auto; /* Center the forms and tables */
    padding: 20px;
    border-radius: 35px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #CD6155;
    color: #fff;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #979A9A;
    transform: scale(1.05);
}

button:active {
    background-color: #008080;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    border-radius: 35px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    max-width: 800px;
    text-align: left;
    border: none;
    outline: none;
}

th {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.actions {
    gap: 10px;
}

.actions button {
    background-color: #CD6155;
}

.actions button:hover {
    background-color: #979A9A;
}

.actions button:active {
    background-color: #008080;
}
